

@*<head>
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="~/css/crud.css">
</head>

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Last_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>*@
